
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form method="post">
        <label>Kullanıcı Adı</label>
        <input type="text" class="form-control"  name="UserName"/>
        <br />
        <label>Kullanıcı Şifre</label>
        <input type="password" class="form-control" name="Password" />
        <br />
        <button class="btn btn-danger">Giriş Yap</button>
    </form>
</body>
</html>
